{% extends "layout/layout.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><strong>Tablero</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usuarios">Listado de Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" type="button" onclick="abrir_modal_crearUsuario('/crearUsuario')">Crear Usuarios</a>
            </li>
        </ul>
    </div>
    <p></p>
</nav>


<div class="">
    <table class="table table-striped table-bordered table-hover table-sm" id="tabla_usuarios">
        <thead>
        <tr>
            <th>#</th>
            <th>Rut</th>
            <th>Username</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Tipo Usuario</th>
            <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="modal fade" id="ventanaModal" role="dialog"></div>

{% endblock %}
{% block extrajs %}
<script src="../../static/js/usuarios/usuarios.js"></script>
{% endblock extrajs %}