{% extends "layout/layout.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- ml-auto ajusta a la derecha-->
            <li class="nav-item active">
                <a class="nav-link" href="/"><strong>Tablero</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="usuarios">Listado de Usuarios</a>
            </li>

        </ul>
    </div>
    <form method="POST" action="/usuarios" class="form-inline"> {% csrf_token %}
        <div class="input-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar..." aria-label="Username"
                   aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></i></button>
        </div>
    </form>
</nav>


<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Rut</th>
            <th>Username</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Tipo Usuario</th>
            <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.rut}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.nombres}} {{usuarios.apeMat}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.correo}}</td>
            {% if usuario.estado == True %}
            <td>Activo</td>
            {% else %}
            <td>Bloqueado</td>
            {% endif %}
            {% if usuario.user_administrador == True %}
            <td>Admin</td>
            {% else %}
            <td>User</td>
            {% endif %}
            {% if usuario.estado == True %}
            <td class="text-center">
                <a href="cambiarEstadoUsuario/{{usuario.id}}">
                    <button type="button" class="btn btn-danger">Desactivar</button>
                </a>
                <a href="editarUsuario/{{usuario.id}}">
                    <button type="button" class="btn btn-warning">Editar</button>
                </a>
                <a href="cambiarClave/{{usuario.id}}">
                    <button type="button" class="btn btn-info">Restablecer Clave</button>
                </a>
            </td>
            {% else %}
            <td class="text-center">
                <a href="cambiarEstadoUsuario/{{usuario.id}}">
                    <button type="button" class="btn btn-danger">Activar</button>
                </a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div>Cantidad de Usuarios: {{num_usuarios}}</div>
<div>Cantidad de Usuarios Activos: {{num_usuarios_activos}}</div>
<div>Cantidad de Usuarios Activos: {{num_usuarios_bloqueados}}</div>


{% endblock %}